<h2 class="page-header">Profile Page</h2>

<div class="row show-hide-message" *ngIf="message">
	<div [ngClass]="messageClass">
		{{ message }}
	</div>
</div>

<h3 class="page-header">Personal Details:</h3>
<ul class="list-group">
	<li class="list-group-item">Username: {{ username }}</li>
	<li class="list-group-item">Email: {{ email }}</li>
	<li class="list-group-item">Full Name: {{ fullName }}</li>
	<li class="list-group-item">Job Title: {{ jobTitle }}</li>
</ul>

<h3 class="page-header">Projects I participate in:</h3>
<div class="panel panel-primary" *ngFor="let project of participatingProjects; let last = last;">
	<div class="panel-heading">
		<h3 class="panel-title">{{ project.title }}</h3>
	</div>

	<div class="panel-body">
		{{ project.body }}
	</div>

	<div class="panel-footer">
		<div>
			<strong>Created by: </strong>{{ project.createdBy}}
			<br />
			<strong>Created at: </strong> {{ project.createdAt | date:'MMM dd, yyyy'}}
			<br />
			<strong>To be completed by: </strong> {{ project.dueDate | date:'MMM dd, yyyy'}}
			<br />
			<strong>Individuals assigned to project: </strong>{{ project.numberOfAssignees }}
			<br />
			<strong>Status: </strong>{{ project.projectStatus }} and {{ currentDate <= convertToDate(project.dueDate) ? "On Schedule" : "Overdue"}} <br />
		</div>

		<br />
		<button [disabled]="project.assignees.indexOf(username) < 0" type="button" name="button" class="btn btn-sm btn-warning" (click)="unassignFromProject(project._id)">
			Unassign from this project
		</button>

		
		<div class="dropdown">
			<button *ngIf="username === project.createdBy || admin" type="button" name="button" class="btn btn-sm btn-warning">
				<span class="glyphicon glyphicon-list">&nbsp;</span>Project Status: {{ project.projectStatus }}
			</button>

			<div class="dropdown-content">
				<a role="button" (click)="setProjectStatus(project._id, 'Not Started')">Not Started</a>
				<a role="button" (click)="setProjectStatus(project._id, 'In Progress')">In Progress</a>
				<a role="button" (click)="setProjectStatus(project._id, 'Completed')">Completed</a>
			</div>
		</div>
		

		<a [routerLink]="['/edit-project', project._id]" *ngIf="username === project.createdBy || admin">
			<button type="button" name="button" class="btn btn-sm btn-info">Edit Project</button>
		</a>

		<a [routerLink]="['/delete-project', project._id]" *ngIf="username === project.createdBy || admin">
			<button type="button" name="button" class="btn btn-sm btn-danger">Delete Project</button>
		</a>

	</div>
	<div *ngIf="last && username === project.createdBy" class="spacer"></div> <!-- Due to dropdown extending the page, we want the user to click the button without having to scroll -->
