<h1 class="page-header">Register Page</h1>

<div class="row show-hide-message">
	<div [ngClass]="messageClass">
		{{ message }}
	</div>
</div>

<form [formGroup]="form" (submit)="onRegisterSubmit()">

	<div class="form-group">
		<label for="username">Username</label>
		<div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty), 'has-success': !form.controls.username.errors && usernameValid}">
			<input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" formControlName="username" (blur)="checkUsername()" />
			<ul class="help-block">
				<li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
				<li *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty ">Username must be at least 3 characters but no more than 15</li>
				<li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not contain special characters</li>
				<li *ngIf="usernameMessage">{{ usernameMessage }}</li>
			</ul>
		</div>
	</div>

	<div class="form-group">
		<label for="email">Email</label>
		<div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
			<input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email" (blur)="checkEmail()"/>
			<ul class="help-block">
				<li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
				<li *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty ) && form.controls.email.dirty">Email must be at least 5 characters but no more than 30</li>
				<li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">Must be a valid email address</li>
				<li *ngIf="emailMessage">{{ emailMessage}}</li>
			</ul>
		</div>
	</div>

	<div class="form-group">
		<label for="fullName">Full Name</label>
		<div [ngClass]="{'has-error': (form.controls.fullName.errors && form.controls.fullName.dirty), 'has-success': !form.controls.fullName.errors}">
			<input type="text" name="fullName" class="form-control" autocomplete="off" placeholder="*Full Name" formControlName="fullName"/>
			<ul class="help-block">
				<li *ngIf="form.controls.fullName.errors?.required && form.controls.fullName.dirty">This field is required</li>
				<li *ngIf="form.controls.fullName.errors?.minlength && form.controls.fullName.dirty || form.controls.fullName.errors?.maxlength && form.controls.fullName.dirty ">Name must be more than 1 character long, but no more than 35</li>
				<li *ngIf="form.controls.fullName.errors?.validateName && form.controls.fullName.dirty">Must be a valid name, without numbers. Starting with capital letters</li>
			</ul>
		</div>
	</div>

	<div class="form-group">
		<label for="jobTitle">Job Title</label>
		<div [ngClass]="{'has-error': (form.controls.jobTitle.errors && form.controls.jobTitle.dirty), 'has-success': !form.controls.jobTitle.errors}">
			<input type="text" name="jobTitle" class="form-control" autocomplete="off" placeholder="*Job Title" formControlName="jobTitle"
			/>
			<ul class="help-block">
				<li *ngIf="form.controls.jobTitle.errors?.required && form.controls.jobTitle.dirty">This field is required</li>
				<li *ngIf="form.controls.jobTitle.errors?.minlength && form.controls.jobTitle.dirty || form.controls.jobTitle.errors?.maxlength && form.controls.jobTitle.dirty ">Must be at least 1 letter long but no more than 35</li>
				<li *ngIf="form.controls.jobTitle.errors?.validateJobTitle && form.controls.jobTitle.dirty">Must be a valid job title</li>
			</ul>
		</div>
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
			<input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password"/>
			<ul class="help-block">
				<li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
				<li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Password must be at least 8 characters long, but no more than 35</li>
				<li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must contain at least: 1 special character, 1 uppercase letter, 1 lowercase letter and 1 number</li>
			</ul>
		</div>
	</div>

	<div class="form-group">
		<label for="confirm">Confirm Password</label>
		<div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
			<input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm"/>
			<ul class="help-block">
				<li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
				<li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Passwords do not match</li>
			</ul>
		</div>
	</div>

	<input [disabled]="!form.valid || processing || !emailValid || !usernameValid" type="submit" class="btn btn-primary" value="Submit"
	/>

</form>